In [14]:
#Import libraries

import pandas as pd
import seaborn as sn
from scipy.stats import ttest_ind

df = pd.read_csv("ab_data.csv")

In [15]:
# Display my data set to get a look

df.head(5)

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          0
3   853541   28:03.1  treatment     new_page          0
4   864975   52:26.2    control     old_page          1

In [16]:
# First we are going to clean the data make sure there are no missing values

In [17]:
#FIRST STEP DROPPING MISSING VALUES

In [18]:
#print(df.column == "NaN") ignore

In [19]:
# Display the count of missing values in each column
missing_values_count = df.isnull().sum()

In [20]:
# Filter columns with missing values
columns_with_missing_values = missing_values_count[missing_values_count > 0]

In [21]:
# Display the columns with missing values
print(columns_with_missing_values)

Series([], dtype: int64)

In [22]:
#okay the above results mean that we have no missing values

In [23]:
#NOW WE CAN PROCEED TO THE AB TESTING PROPER

In [24]:
#STEP 1; GROUPING THE DATA using the group column
group_a_data = df[df['group'] == 'control']
group_b_data = df[df['group'] == 'treatment']

In [25]:
# Calculate Key Metrics (Conversion rate)

conversion_rate_group_a = group_a_data['converted'].mean()
conversion_rate_group_b = group_b_data['converted'].mean()
print("Conversion Rate for Group A:", conversion_rate_group_a)
print("Conversion Rate for Group B:", conversion_rate_group_b)

Conversion Rate for Group A: 0.12039917935897611
Conversion Rate for Group B: 0.11891796466546259

In [26]:
#now we perform hypothesis testing, t_test and p_test
t_stat, p_value = ttest_ind(group_a_data['converted'], group_b_data['converted'])
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: 1.2382786399119168
P-value: 0.21561374826591398

In [ ]:
# INTERPRETE THE RESULTS 
# FROM SINCE THE P-VALUE IS GREATER THAN THE SET VALUE OF 0.05 WE HAVE FAILED TO REJECT THE NULL HYPOTHESIS AND THUS WE...
# SAY THAT THERE IS NO SIGNIFICANT STATISTICAL DIFFERENCE BETWEEN THE TWO
# As for the T- stats since the value is a positive value it means the mean of group a is higher than the mean of group b